// Importing Google Fonts and declaring css color variables
@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Nunito:400,700');

$turquoise: #44ddd0;

$green: #27d7a1;

$light: #f8f8f8;

$light-green: #45f69e;

$dark-green: rgb(0, 100, 80);

// Changing the Bulma's global variables that came with the css framework
$family-sans-serif: "Nunito", sans-serif;
$primary: $green;
$link: $turquoise;

$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;


// Setting custom global styles

html {
    background: linear-gradient(to right top, $turquoise, $green);
}

html, body {
    height: 100%;
}
